* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
background-color: black;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
z-index: -2;
    position: absolute;
border: 4px red solid;
width: 500px;
height: 300px;
top: 100px;
left: 100px;
}

.frame::before {
    z-index: -1;
    background-color: black;
    position: absolute;
    content: '';
width: 350px;
height: 500px;
top: -100px;
left: 70px;
}

.frame::after {
    z-index: -1;
    background-color: black;
    content: '';
    position: absolute;
width: 550px;
height: 150px;
left: -35px;
top: 60px;
}

h1 {
    color: white;
    text-align: center;
    
}