* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  body {
    box-sizing: border-box;
}
  
  .grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      'first first second second'
      'third forth forth forth'
      'fifth fifth fifth fifth';
    gap: 1rem;
    padding: 1rem;
}
  
  .grid-container > div {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;
  }
  
  .item1 {
    border-radius: 10px;
    background-color: red;
    grid-area: first;
  }
  .item2 {
    border-radius: 10px;
    background-color: blue;
    grid-area: second;
  }
  .item3 {
    border-radius: 10px;
    background-color: green;
    grid-area: third;
  }
  .item4 {
    background-color: purple;
    border-radius: 10px;
    grid-area: forth;
  }
  .item5 {
    background-color: yellowgreen;
    border-radius: 10px;
    grid-area: fifth;
  }
  
  