body {
  width: 90vw;
  height: 90vh;
}
.grid {
display: grid;
grid-template-areas:
'robot robot garden garden garden kids bikes bikes'
'robot robot garden garden garden kids bikes bikes'
'sunset sunset garden garden garden lge lge car'
'sunset sunset sea sea wave lge lge car'
'sunset sunset sea sea pumba pumba pumba car'
'trl fort fort cartoon pumba pumba pumba fish'
'trl fort fort cartoon pumba pumba pumba fish';
grid-gap: 0.3rem;
}

.grid div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

  .img1 {
  grid-area: robot;
  }

  .img2 {
  grid-area: garden;
  }

  .img3 {
  grid-area: kids;
  }

  .img4 {
    grid-area: bikes;
  }

  .img5 {
    grid-area: sunset;
  }

  .img6 {
    grid-area: sea;
  }

  .img7 {
    grid-area: wave;
  }

  .img8 {
    grid-area: lge;
  }

  .img9 {
    grid-area: car;
  }

  .img10 {
    grid-area: trl;
  }

  .img11 {
    grid-area: fort;
  }

  .img12 {
    grid-area: cartoon;
  }

  .img13 {
    grid-area: pumba;
  }

  .img14 {
    grid-area: fish;
  }